@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
    font-family: Montserrat;
}

footer {
    height: 207px;
    background-color: #ff7f00;
}

.gallery {
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
}

.saved-memes {
    display: grid;
    display: none;
}

.saved-memes img {
    margin: 30px;
}

.preview {
    height: 300px;
    width: 300px;
    cursor: pointer;
    object-fit: cover;
}

.preview:hover {
    opacity: 70%;
}

.tools-icon {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
}

#img-canvas {
    border: 1px solid black;
}

.logo {
    height: 30px;
    width: auto;
    padding: 30px;
}

.main-header {
    background-color: #ff7f00;
}

.main-nav * {
    width: 66px;
    height: 19px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    cursor: pointer;
}

.main-nav *:hover {
    color: black;
}

.search-bar {
    margin-bottom: 27px;
    justify-content: center;
}

.keywords-container * {
    margin-left: 20px;
    cursor: pointer;
}

.sep {
    width: 1px;
    height: 32px;
    background-color: #8a8a8a;
    margin-left: 15px;
    margin-right: 15px;
}

.search {
    font-size: larger;
    width: 100px;
}

.btn-menu {
    margin-right: 30px;
    font-size: 40px;
    color: blanchedalmond;
    display: none;
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    cursor: pointer;
}


/* layout */

.main-layout {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 27px;
}

.editor-layout {
    grid-template-columns: repeat(2, 550px);
}

.tools {
    justify-content: center;
    grid-template-columns: repeat(3, 60px);
    gap: 15px;
}

.textLine {
    grid-column: 1/4;
    font-size: larger;
}

.publish {
    border: none;
}


/* helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.grid {
    display: grid;
}

.column {
    flex-direction: column;
}

@media (max-width: 740px) {
    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        display: none;
    }
    body.menu-open .main-screen {
        display: block;
    }
    .main-layout {
        max-width: 720px;
    }
    .gallery {
        justify-content: center;
        grid-template-columns: repeat(2, 160px);
        gap: 15px;
    }
    .saved-memes {
        justify-content: center;
        grid-template-columns: repeat(2, 160px);
        gap: 15px;
        display: none;
    }
    .saved-memes img {
        margin: 15px;
    }
    .preview {
        height: 160px;
        width: 160px;
        cursor: pointer;
        object-fit: cover;
    }
    .editor-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #img-canvas {
        height: 300px;
        width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }
    .tools-icon {
        width: 30px;
        height: 30px;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 50%;
        background-color: #ff7f00;
        /* border-left: 1px solid black; */
        box-shadow: 9px 10px 23px 0px rgba(0, 0, 0, 0.92);
        transform: translateX(100%);
        transition: transform .6s;
        z-index: 1;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .sep {
        width: 100%;
        height: 1px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .main-nav>*:first-child {
        margin-top: 30px;
    }
    .btn-menu {
        display: block;
    }
}